extends ../layouts/main-layout.pug

block content
    head
        style
            include ../../public/shopstyle.css
    main
        if products.length > 0
            .productlist
                each product in products
                    .productcard
                        h2 #{product.title} by #{product.artist}
                        .cardcontent
                            img.productimage(src = product.imageURL alt = product.title)
                            .description
                                h3.dsubheader description: 
                                p #{product.description}
                        .editaction
                            h3 $#{product.price}
                            a(href="/admin/edit-product/" + product._id) edit      
                            form(action="/admin/delete-product", method="POST") 
                                input(type="hidden" value=product._id name="id")
                                input(type = "hidden" name = "_csrf" value = csrfToken)
                                button.submit(type="submit") delete
        else
            h1 no albums available :(  
                a(href="/admin/add-product") add one?